<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>

    <h2><%= apod.title %></h2>
    <p><%= apod.title %></p>
    <img src="<%= apod.media_type == 'image' ? apod.url : '' %>" alt="">
    <p><%= apod.explanation %></p>

  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>